body {
    margin: 0;
}

.panel {
    display: flex;
    flex-direction: column;
    width: 15rem;
    background: #1E1E1E;
    color: white;
    font-family: 'Inter', sans-serif;
}
  
.panel-item {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #383838;
    font-size: .8rem;
    align-items: center;
}

.panel-item:last-child {
    border-bottom: none;
}  

h1 {
    color: #85CFCB;
    padding-left: 1rem;
    font-size: 1.5rem;
    margin-bottom: 0;
}

p {
    color: #A5A5A5;
    padding-left: 1rem;
    font-size: .8rem;
    margin-top: 0.5;
    max-width: 13rem;
}

.toggle {
    width: 2.5rem;
    height: 1.25rem;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
  
.toggle-checkbox {
    display: none;
}
  
.toggle-input::before { /* fond toggle */
    content: ''; /* sinon il n'existe pas */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: grey;
    border-radius: 1.25rem;
}
  
.toggle-checkbox:checked ~ .toggle-input::before {
    background: #219897;
}
  
.toggle-input::after { /* handler toggle */
    content: '';
    height: calc(1.25rem - 4px);
    width: calc(1.25rem - 4px);
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 200ms ease;
}
  
.toggle-checkbox:checked ~ .toggle-input::after {
    left: calc(1.25rem + 2px);
}

/* .decrease {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 100px;
    background-color: #85CFCB;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    margin-right: 4px;
    cursor: pointer;
    line-height: 25px;
} */

.increase {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 100px;
    background-color: #219897;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    margin-left: 4px;
    cursor: pointer;    
    line-height: 25px;
}
